*.swp
env
data
.DS_Store
.vim
.vscode
data
.ipynb_checkpoints
cache
debug
__pycache__

# random jupyter notebook files
*.aux
*.log
*.gz
*.toc

# cache
**/__pycache__
**/.pytest_cache

# Jupyter autosave
**/.ipynb_checkpoints

# PyCharm project
**/.idea
table_recognition/checkpoints/
