version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose build
      
workflows:
  main:
    jobs:
      - build
  daily-build:
    triggers:
      - schedule:
          cron: "35 18 * * *"
          filters:
            branches:
              only: main
    jobs:
      - build
